
@{
    ViewBag.Title = "Index";
}

<h3>Manage Website</h3>
<hr />

<div>
    <a href="/ManagePosts">Manage Posts</a>
    <br />
    <a href="/ManageProjects">Manage Projects</a>
    <br />
    <a href="#">Manage About</a>
</div>

