<div ng-controller="CommentController">
    <div data-comment-id="{{comment.Id}}" class="one-comment">
        @if (User.IsInRole("admin"))
        {
            <button class="btn btn-primary to-the-right edit-comment" style="margin-left:3px">Edit</button>
            <button class="btn btn-danger to-the-right delete-comment">Delete</button>
        }
        <span class="shift-slighly-right"><b>{{comment.Author}}</b></span>
        <br />
        <div class="shift-right" style="margin-left: 5px;">{{comment.DisplayContent}}</div>
        <br />
    </div>
</div>

