@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <div>
            <b>Hello, <span id="userActions" data-placement="bottom" data-toggle="popover" data-content="" data-trigger="click">@User.Identity.GetUserName()</span></b>
            <span class="hidden" id="logout-content">
            
                    <a href="/Manage">Manage Account</a><br />
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </span>
        </div>
    }
}
else
{
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <span>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</span>
}
