@model IEnumerable<HelloWorld2.Model.Post>

@{
    ViewBag.Title = "Home Page";
}



<div class=" ">
    <h3>Posts</h3>
    <hr />
    <div class=" search">
        <input type="text" class="form-control search-input" placeholder="Search" id="search-posts" />
        <i class="fa fa-search search-icon"></i>
    </div>

    <div class="posts">

    </div>
    @foreach (var item in Model ?? new List<HelloWorld2.Model.Post>())
    {
        @Html.Partial("_Post", item)
    }

    @section scripts {
        <script>
            $(function () {
                getPosts();
            })
        </script>
    }

</div>

